apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: shyamprasad10/crms:v1
          ports:
            - containerPort: 8080
# =========================
# Services
# =========================
---
# # MySQL Service
# apiVersion: v1
# kind: Service
# metadata:
#   name: mysql
# spec:
#   type: ClusterIP
#   selector:
#     app: mysql
#   ports:
#     - port: 3306
#       targetPort: 3306

---
# Backend Service
# apiVersion: v1
# kind: Service
# metadata:
#   name: backend
# spec:
#   type: NodePort
#   selector:
#     app: backend
#   ports:
#     - port: 8080
#       targetPort: 8080
#       nodePort: 30083

---
# Frontend Service
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30084
